body{
margin: 0;
bottom: 0%;
font-family: "Roboto";
}

h1.main{
    text-align: center;
    font-size: 65px;
    background-color: rgb(141, 213, 255) ;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 5% 0px;
}
main{
    background-color: rgb(187, 185, 185);
}
#logo
{
    width: 70%;
    display: block;
    margin: auto;
    
}
.galeria img{

    width: 20%;
    height: 20%;
    justify-content: space-between;
}

table {
    margin: auto;
    background-color: rgba(197, 197, 197, 0.794);
}
footer.home{
    text-align: center;
    background-color: rgb(141, 213, 255);
    margin: auto;
}
footer.home li{
    padding: 15px 0px;
    list-style: none;
    text-decoration: none;
}
footer.home li a{
    text-decoration: none;
}

h2{
    text-align: center;
    margin: 3%;
    padding: 3% 0% 0% 0%;
}

div.contacto ul {
    padding: 0;
    margin: 0;
}

div.contacto li{
    padding-top: 30px;
    list-style: none;
    text-align: center;
}
div.contacto li a {
    text-decoration: none;
}
h1.nosotros{
    text-align: center;
}
p.one{
padding: 0% 1%;
font-size: 120%;
}
footer.back {
    padding: 1% 0% 0% 1%;
}
div.game {
    padding: 0% 5%;
}
p.parrafo
{
    padding-left: 1%;
}